/* Place CSS styles here */


h1{
    color:rgb(17, 51, 84);
    font-family:sans-serif;
    font-size: 64px;
}

h2{
    color:rgb(13, 61, 79);
    font-family:sans-serif;
    font-size: 32px;
}

 p{
    color:rgb(12, 14, 17);
    font-family:sans-serif;
    font-size: 16px;
 }

 img{
    
 }
.first_reason img {
    width:100px;
    height:100px;
}

.second_reason img{
    width:100px;
    height:100px;
}
.third_reason img{
    width: 100px;
    height: 100px;
}